body {
    /* background-color: black; */
    background-image: url(../images/98333.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-y: 5%;
    /* padding-left: 25px;
    padding-right: 25px; */
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    font-family: quicksand;
    color: white;

}

li a {
    text-decoration: none;
    color: white;
    border: 1px solid #D39D55;
    padding: 10px;
    border-radius: 2px;
}

li a:hover {
    text-decoration: none;
    color: black;
    /* border: 1px solid #D39D55; */
    background-color: #D39D55;
    transition: .3s;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-items {
    justify-content: space-between;
}

#logo {
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
}


#logo {
    font-size: 40px;
    padding: 10px;
    font-family: meddon;
    color: white;
}

#logo-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#logo-img {
    background-color: #D39D55;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    
}

#contact-container {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /* border:1px solid #D39D55; */
    /* box-shadow: 5px rgba(252, 252, 252, 0.8); */
    /* height: 700px;
    width: 1200px; */
    /* border: 1px solid #D39D55; */
    border-radius: 10px;
   
}

#contact-details-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    border-radius: 5px;
    

}

form {
    display: block;
    justify-content: center;

}

label, input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    padding: 2px;
    font-family: quicksand;
    font-size: 20px;
    color: white;
    font-weight: 500;
    display: block;
    /* justify-content: center; */
    
    /* margin-left: auto;
    margin-right: auto; */
}

input, textarea {
    margin-bottom: 10px;
    width: 500px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    display: block;
 
}

.contact-details {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    /* padding: 20px; */
}

.button1 {
    width: 250px;
    /* text-align: center; */
    height: 40px;
    font-family: quicksand;
    background-color: #D39D55;
    color: black;
    font-size: 20px;
    font-weight:500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#form-img {
    background-color: none;
    width: 600px;
    height: 700px;    
}

.footer {
    position: static;
    /* left: 0;
    bottom: 0; */
    background-color: #D39D55;
    color: white;
    /* text-align: center; */
    height: 75px;
    margin:75px 0px 0px 0px;
    padding:0px;
    min-width:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer p {
    font-family: meddon;
    color: black;
    font-size: 25px;
  }

  h1, h2 {
    display: flex;
    justify-content: center;
    font-family: quicksand;
    font-size: 50px;
    color: #D39D55;
    text-transform: uppercase;
    border-bottom: 2px solid #D39D55;
    margin: 0px 25px;
   
}

i {
    color: black;
    font-size: 25px;

  }

  #footer-icon li {
    padding: 0px;
  }

  #footer-icon li a:hover {
    box-shadow: none;
  }