
body {
    background-image: url(../images/gray-textured-wall_53876-88964.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: 5%; */
    /* background-position: fixed; */
    /* height: 100%; */
    width: 100%;
    
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    font-family: quicksand;
    color: white;

}

li a {
    text-decoration: none;
    color: white;
    border: 1px solid #D39D55;
    padding: 10px;
    border-radius: 3px;
}

li a:hover {
    text-decoration: none;
    color: black;
    /* border: 1px solid #D39D55; */
    background-color: #D39D55;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    justify-content: space-between;
}

#logo {
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
}


#logo {
    font-size: 40px;
    padding: 10px;
    font-family: meddon;
    color: white;
}

#logo-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo-img {
    background-color: #D39D55;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-family: quicksand;
    font-size: 50px;
    color: #D39D55;
    text-transform: uppercase;
    border-bottom: 2px solid #D39D55;
}

.footer-icon {
    width: 30px;
    height: 100%;
  }

  .footer-cta {
    color: black;
    font-family: quicksand;
    font-size: 30px;
  }

  .gallery-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    /* width: 100%; */
    text-align: center;
    /* max-width:100%; */
    
    
    
  }

  .img-row-container {
    display: inline-flex;
     
  }
 
  .img {
    width: 100%;
    height: 500px;
    margin: 5px;
    /* display: inline; */
    border-radius: 2px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
  }

  #our-work p {
    font-family: quicksand;
    font-size: 25px;
    color: white;
    justify-content: center;
    margin: 20px;
  }