/* ul {
    list-style-type: none;
} */

/* nav {
    display: inline-flex;
} */

/* .container {
    display: flex;
} */

body {
    background-image: url(../images/landing\ page\ img-modified.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 5%;
    
    /* height: 100%; */
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    font-family: quicksand;
    color: white;

}

li a {
    text-decoration: none;
    color: white;
    border: 1px solid #D39D55;
    padding: 10px;
    border-radius: 2px;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    justify-content: space-between;
}

#logo {
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
}


#logo {
    font-size: 40px;
    padding: 10px;
    font-family: meddon;
    color: white;
}

#logo-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#catch-phrase {
    color: white;
    font-family: quicksand;
    font-size: 60px;
    display: block;
    margin-top: 200px;
    margin-left: 10px;
}

#hp-cta-btn {
    background-color: #D39D55;
    text-decoration: none;
    color: black;
    font-size: 35px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}

#hp-cta-btn:hover {
    font-size: 35px;
    padding: 10px;
    border-radius: 7px;
    color: #D39D55;
    background-color: transparent;
    border: 1px solid #D39D55;
}


img {
    background-color: #D39D55;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    
}

/* footer {
    height: 50px;
    background-color: #D39D55;
    width: 100%;
    position: fixed;
    bottom: 0;
} */

/* .footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #D39D55;
    width: 100%;
    
} */

/* footer li {
    list-style: none;
    display: inline;
    color: black;
}

.fa-brands {
    color: black;
} */

#body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: quicksand;
}

#contact-details {
    color: white;
    border: 1px solid transparent;
    
   
    /* width: 300px; */
    align-items: center;
}

#hours-container {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    /* width: 200px; */
}

#contact-details li {
    font-size: 20px;
    display: inline-block;
}

span {
    color: #D39D55;
}

/* .sm-icons {
    background-color: white;
} */

/* To ask whether this is correct */
.hidden-text {
    color: transparent;
}

#contact-details-container {
    display: block;
    margin-right: 50px;
}

